body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(36, 49, 60);
}

#display_elem {
  width: 93%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  background-color: rgb(94, 92, 92);
  border: none;
  color: white;
}

#Calculator {
  background-color: rgb(48, 48, 48);
  border-radius: 30px;
  max-width: 600px;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#signs {
  background-color: rgb(243, 155, 41);
}
#signs:hover {
  background-color: rgb(197, 121, 22);
}
#signs:active {
  background-color: rgb(210, 188, 159);
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgb(98, 97, 97);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(167, 153, 153);
}
button:active {
  background-color: rgb(213, 207, 207);
}
